body{
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.final-result{
    border: 1px solid #000;
    background-color: rgb(246, 95, 8);
}
#input{
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 7px 0;
    background-color: rgb(255, 189, 127);
}